<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    
    <h1>SECRET CODED SUCC</h1>
    <a href="soocc.github.io">Home</a> <a href="soocc.github.io/blog">Blog</a> <a href="soocc.github.io/videos">Videos</a> <a href="soocc.github.io/music">Music</a> <a href="soocc.github.io/code">Code</a>
    <hr>
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </head>
  <footer class="site-footer">
    <style>
    footer {
      position: absolute;
      min-height: 100%;
      right: 0;
      bottom: 50;
      width: 25%;
      background-color: black;
      text-color: white;
      text-align: center;
    }
    </style>
    <br>
    <span class="site-footer-credits">soocc's official website! <a href="https://github.com/soocc/soocc.github.io">GitHub</a>.</span>
    <br>
  </footer>
</html>
